<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.testng.paralellTesting.DemoParallelMethodLevel</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testParallelDemo4</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testParallelDemo2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testParallelDemo3</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testParallelDemo1</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
