<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Paralell Test suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9cabe1">  <td>22/03/01 08:28:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoParallelMethodLevel.testParallelDemo1()[pri:0, instance:com.testng.paralellTesting.DemoParallelMethodLevel@33990a0c]">testParallelDemo1</td> 
  <td>TestNG-test=Test-1@1832098389</td>   <td></td> </tr>
<tr bgcolor="9cabe1">  <td>22/03/01 08:28:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoParallelMethodLevel.testParallelDemo2()[pri:0, instance:com.testng.paralellTesting.DemoParallelMethodLevel@33990a0c]">testParallelDemo2</td> 
  <td>TestNG-test=Test-2@219001479</td>   <td></td> </tr>
<tr bgcolor="9cabe1">  <td>22/03/01 08:28:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoParallelMethodLevel.testParallelDemo3()[pri:0, instance:com.testng.paralellTesting.DemoParallelMethodLevel@33990a0c]">testParallelDemo3</td> 
  <td>TestNG-test=Test-3@175844824</td>   <td></td> </tr>
<tr bgcolor="9cabe1">  <td>22/03/01 08:28:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoParallelMethodLevel.testParallelDemo4()[pri:0, instance:com.testng.paralellTesting.DemoParallelMethodLevel@33990a0c]">testParallelDemo4</td> 
  <td>TestNG-test=Test-4@2064739646</td>   <td></td> </tr>
</table>
