<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="be9564">  <td>22/03/01 08:14:48</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoParallelClassLevel.testParallelDemo1()[pri:0, instance:com.testng.paralellTesting.DemoParallelClassLevel@28f3b248]">testParallelDemo1</td> 
  <td>main@477533894</td>   <td></td> </tr>
<tr bgcolor="9cabe1">  <td>22/03/01 08:14:29</td>   <td>-18746</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoParallelClassLevel2.testParallelDemo2()[pri:0, instance:com.testng.paralellTesting.DemoParallelClassLevel2@15aab8c6]">testParallelDemo2</td> 
  <td>main@477533894</td>   <td></td> </tr>
</table>
