<h2>Methods that were not run</h2><table>
<tr><td>com.test.day1.ChangePasword.afterSuiteTest</td></tr>
<tr><td>com.test.day1.ChangePasword.testSuite</td></tr>
<tr><td>com.test.day1.ChangePasword.testTest</td></tr>
<tr><td>com.test.day1.ChangePasword.afterTest</td></tr>
</table>