<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Smoke Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c971a1">  <td>22/02/24 08:35:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ChangePaswordFlow2.testMethod()[pri:0, instance:com.test.day1.ChangePaswordFlow2@f5acb9d]">&gt;&gt;testMethod</td> 
<td>&nbsp;</td>  <td>main@2067180044</td>   <td></td> </tr>
<tr bgcolor="b7cd72">  <td>22/02/24 08:35:46</td>   <td>11</td> <td>&nbsp;</td><td title="&lt;&lt;ChangePasword.afterTest()[pri:0, instance:com.test.day1.ChangePaswordFlow2@f5acb9d]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2067180044</td>   <td></td> </tr>
<tr bgcolor="c971a1">  <td>22/02/24 08:35:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ChangePaswordFlow2.testMethod()[pri:0, instance:com.test.day1.ChangePaswordFlow2@f5acb9d]">&gt;&gt;testMethod</td> 
<td>&nbsp;</td>  <td>main@2067180044</td>   <td></td> </tr>
<tr bgcolor="c971a1">  <td>22/02/24 08:35:46</td>   <td>-20</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ChangePaswordFlow2.testBeforeClass()[pri:0, instance:com.test.day1.ChangePaswordFlow2@f5acb9d]">&gt;&gt;testBeforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2067180044</td>   <td></td> </tr>
<tr bgcolor="c971a1">  <td>22/02/24 08:35:46</td>   <td>2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ChangePaswordFlow2.testAfterMethod()[pri:0, instance:com.test.day1.ChangePaswordFlow2@f5acb9d]">&lt;&lt;testAfterMethod</td> 
<td>&nbsp;</td>  <td>main@2067180044</td>   <td></td> </tr>
<tr bgcolor="7194ba">  <td>22/02/24 08:35:46</td>   <td>3</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AddNEwUSer.testBeforeClass()[pri:0, instance:com.test.day1.AddNEwUSer@58d75e99]">&gt;&gt;testBeforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2067180044</td>   <td></td> </tr>
<tr bgcolor="7194ba">  <td>22/02/24 08:35:46</td>   <td>4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNEwUSer.loginLogout()[pri:1, instance:com.test.day1.AddNEwUSer@58d75e99]">loginLogout</td> 
  <td>main@2067180044</td>   <td></td> </tr>
<tr bgcolor="7194ba">  <td>22/02/24 08:35:46</td>   <td>11</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AddNEwUSer.testAfterMethod()[pri:0, instance:com.test.day1.AddNEwUSer@58d75e99]">&lt;&lt;testAfterMethod</td> 
<td>&nbsp;</td>  <td>main@2067180044</td>   <td></td> </tr>
<tr bgcolor="b7cd72">  <td>22/02/24 08:35:46</td>   <td>-45</td> <td title="&gt;&gt;ChangePasword.testSuite()[pri:0, instance:com.test.day1.ChangePaswordFlow2@f5acb9d]">&gt;&gt;testSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2067180044</td>   <td></td> </tr>
<tr bgcolor="b7cd72">  <td>22/02/24 08:35:46</td>   <td>-40</td> <td>&nbsp;</td><td title="&gt;&gt;ChangePasword.testTest()[pri:0, instance:com.test.day1.ChangePaswordFlow2@f5acb9d]">&gt;&gt;testTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2067180044</td>   <td></td> </tr>
<tr bgcolor="c971a1">  <td>22/02/24 08:35:46</td>   <td>2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ChangePaswordFlow2.testAfterMethod()[pri:0, instance:com.test.day1.ChangePaswordFlow2@f5acb9d]">&lt;&lt;testAfterMethod</td> 
<td>&nbsp;</td>  <td>main@2067180044</td>   <td></td> </tr>
<tr bgcolor="7194ba">  <td>22/02/24 08:35:46</td>   <td>7</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AddNEwUSer.testMethod()[pri:0, instance:com.test.day1.AddNEwUSer@58d75e99]">&gt;&gt;testMethod</td> 
<td>&nbsp;</td>  <td>main@2067180044</td>   <td></td> </tr>
<tr bgcolor="7194ba">  <td>22/02/24 08:35:46</td>   <td>7</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AddNEwUSer.testMethod()[pri:0, instance:com.test.day1.AddNEwUSer@58d75e99]">&gt;&gt;testMethod</td> 
<td>&nbsp;</td>  <td>main@2067180044</td>   <td></td> </tr>
<tr bgcolor="c971a1">  <td>22/02/24 08:35:46</td>   <td>1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangePaswordFlow2.changePwdFlow()[pri:2, instance:com.test.day1.ChangePaswordFlow2@f5acb9d]">changePwdFlow</td> 
  <td>main@2067180044</td>   <td></td> </tr>
<tr bgcolor="c971a1">  <td>22/02/24 08:35:46</td>   <td>-9</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangePaswordFlow2.loginLogout()[pri:1, instance:com.test.day1.ChangePaswordFlow2@f5acb9d]">loginLogout</td> 
  <td>main@2067180044</td>   <td></td> </tr>
<tr bgcolor="7194ba">  <td>22/02/24 08:35:46</td>   <td>8</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNEwUSer.changePwdFlow()[pri:2, instance:com.test.day1.AddNEwUSer@58d75e99]">changePwdFlow</td> 
  <td>main@2067180044</td>   <td></td> </tr>
<tr bgcolor="b7cd72">  <td>22/02/24 08:35:46</td>   <td>79</td> <td title="&lt;&lt;ChangePasword.afterSuiteTest()[pri:0, instance:com.test.day1.ChangePaswordFlow2@f5acb9d]">&lt;&lt;afterSuiteTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2067180044</td>   <td></td> </tr>
<tr bgcolor="7194ba">  <td>22/02/24 08:35:46</td>   <td>11</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AddNEwUSer.testAfterMethod()[pri:0, instance:com.test.day1.AddNEwUSer@58d75e99]">&lt;&lt;testAfterMethod</td> 
<td>&nbsp;</td>  <td>main@2067180044</td>   <td></td> </tr>
</table>
